bitmex_websocket==0.2.83
numpy==1.26.4
pandas==2.2.1
pyee==9.0.4
PyOpenGL==3.1.7
PyQt6==6.6.1
PyQt6_sip==13.4.0
pyqtgraph==0.13.3
python_dateutil==2.8.2
pytz==2022.7
Requests==2.31.0
scipy==1.12.0
websocket_client==0.53.0
yfinance==0.2.37
